name: Build Java application
on:
  push:
    branches: [ "main" ]

jobs:
  Buid:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          architecture: x64

      - name: run the Maven
        run: mvn clean install  
        with: 
          path: /java-app







